.column {
    background: blue;
    width: 13%;
    float: left;
    border:rgb(137, 161, 206);
    border-width: 1%;
    padding: 6%;
}

.column p {
    color: yellow
}

.img {
    width: 30%;
    margin: auto;
    height: auto;
    display: block;
}
body {
    background-color:orange;
}
h2 {
    background:red;
}

@media screen and (max-width: 500px) {
  body {
    background-color: bisque;
  }
}
@media screen and (min-width: 600px) {
    h2 {
        background-color: brown;
    }
}